:root{
    --fontPoppins: "Poppins", sans-serif;
    --black: #121212;
    --gray: #797979;
    --orange: #FF6A28;
    --pldfont: "Playfair Display", sans-serif;
    --fontgrey: #12121280;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fontPoppins);
    scroll-behavior: smooth;

}

.container{
    max-width: 1167px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.nav{
    height: 160px;
    display: flex;
    align-items: center;
}

.nav__wrapper{
    display: flex;
    align-items: center;
    gap: 0 33px;
}

.nav__logo{
    font-family: var(--pldfont);
    font-size: 32px;
    line-height: 42.66px;
    font-weight: 700;
    color: var(--black);
    flex: 1;
}

.nav__list{
    display: flex;
    gap: 0 30px;
}

.nav__list .list__item{
    text-transform: capitalize;
}

.list__item .item__link{
    color: var(--gray);
    font-weight: 500;
}

.item__link:hover{
    color: var(--black);
    padding-bottom: 4px;
    border-bottom: 3px solid var(--orange);
}

.nav-link{
    padding: 11px 28px;
    border: 1px solid var(--orange);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--orange);
    border-radius: 5px;
    background-color: transparent;
    user-select: none;
}

.nav-link:disabled{
    pointer-events: none;
}

.nav-link:hover{
    background-color: transparent;
    box-shadow: rgba(255, 217, 63, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.nav-link:active{
    box-shadow: none;
    transform: translateY(0);
}

.hero {
    margin-top: 48px;
}

.hero__wrapper{
    height: 1055px;
}

.hero__content{
    max-width: 1127px;
    text-align: center;
}

.hero__content>h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 79.98px;
    font-family: var(--pldfont);
    color: var(--black);
}

.hero__content>p{
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    color: var(--gray);
    max-width: 956px;
    margin: 41px auto 0 auto;
}

.hero-link{
    padding: 11px 39px;
    background-color: var(--orange);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin: 53px;
    border-radius: 5px;
    user-select: none;
}

.hero-link:disabled{
    pointer-events: none;
}

.hero-link:hover{
    color: #fff;
    background-color: var(--orange);
    box-shadow: rgba(255, 212, 40, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.hero-link:active{
    box-shadow: none;
    transform: translateY(0);
}

.hero__cards{
    margin-top: 47px;
    background-color: #C4C4C4;
    height: 643px;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.hero__card{
    max-width: 419px;
    height: 148px;
    border-radius: 10px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
}

.hero__card>h6{
    font-size: 44px;
    line-height: 66px;
    font-weight: 700;
    color: var(--orange);
}

.hero__card>p{
    max-width: 225px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--black);
}

.position-first-card{
    position: absolute;
    top: 28px;
    left: 28px;
    width: 100%;
}

.position-second-card{
    position: absolute;
    bottom: 20px;
    right: 28px;
    width: 100%;
}
.contact{
    margin-top: 142px;
    background: #F8FAFB;
    max-height: 822px;
}
.contact-wraper{
    display: flex;
    justify-content: center;
    gap: 0 63px;
}
.contact-text{
    width: 523px;
    padding-top: 191px;
}
.contact-text > strong{
    font-family: var(--pldfont);
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;    
}
.contact-text > p{
    font-family: var(--fontPoppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 46px;
    padding-top: 72px;
}
.contact-text > img{
    padding-top: 72px;
}
.contact-form{
    height: 913px;
    width: 600px;
    padding-top: 42px;
    box-sizing: content-box;
    position: relative;
    background: white;
    
}
.contact-form > p{
    font-family: var(--fontPoppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 34px;
}
.contact-form > input{
    font-family: var(--fontPoppins);
    background: #F8FAFB;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    padding: 31px 224px 31px 34px;
    box-sizing: border-box;
    border: none;
}
.contact-form > button{
    border: none;
    background: var(--orange);
    padding: 11px 39px;
    border-radius: 5px;
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    bottom: 41px;
    right: 36px;
}
.contact-form > button:hover{
    box-shadow: rgba(255, 212, 40, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: none;
    background: var(--orange);
    padding: 11px 39px;
    border-radius: 5px;
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    bottom: 41px;
    right: 36px;
}
.footer{
    padding-top: 300px;
}
.footer-wraper{
    display: flex;
    justify-content: space-between;
    
}
.newsletter{
    width: 494px;
}
.newsletter > b{
    padding-bottom: 19px;
}
.newsletter > p{
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: var(--fontgrey);
    padding-bottom: 39px;
}
.footer-email{
    background: #F8FAFB;
}
.footer-email > input{
   width: 291px;
   height: 78px;
   background: #F8FAFB;
   border: none;
   border-radius: 5px;
   padding-left: 29px;
}
.footer-email > button{
    border: none;
    background: var(--orange);
    padding: 11px 24px;
    border-radius: 5px;
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.footer-email > button:hover{
    border: none;
    background: var(--orange);
    padding: 11px 24px;
    border-radius: 5px;
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    box-shadow: rgba(255, 212, 40, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.content-bold{
    font-family: var(--fontPoppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 45px; 
    padding-bottom: 12px;
}
.content-text{
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: var(--fontgrey);
    padding-bottom: 16px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
}
.footer-text > p{
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: var(--fontgrey);
}